apiVersion: v1
kind: Service
metadata:
  name: go-server
  labels:
    app: go-server
spec:
  ports:
    - nodePort: 30001
      port: 8080
      protocol: TCP
      targetPort: 8080
  selector:
    app: go-server
  type: NodePort

---
apiVersion: v1
kind: Service
metadata:
  name: mysql-server
spec:
  type: ClusterIP
  ports:
    - name: mysql
      port: 3306
      targetPort: 3306
      protocol: TCP
  selector:
    app: mysql-server

---
apiVersion: v1
kind: Service
metadata:
  name: sub-go-server
  labels:
    app: sub-go-server
spec:
  ports:
    - nodePort: 30002
      port: 8050
      protocol: TCP
      targetPort: 8050
  selector:
    app: sub-go-server
  type: NodePort

---
apiVersion: v1
kind: Service
metadata:
  name: mysql-server
spec:
  type: ClusterIP
  ports:
    - name: mysql
      port: 3306
      targetPort: 3306
      protocol: TCP
  selector:
    app: mysql-server

# ---
# apiVersion: v1
# kind: Service
# metadata:
#   name: rails-server
#   labels:
#     app: rails-server
# spec:
#   ports:
#     - port: 8000
#       protocol: TCP
#       targetPort: 8000
#   selector:
#     app: rails-server
#   type: NodePort
